html {
    background-color: #AEEFEF;
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
    background-image:url("../img/AIU_Library.png");
}

/* body */
body {
    height: 100%;
}


/* header */
.header_wrapper {
    margin: 10px;
}
.header {
    width: 100%;
    text-align: center;
    background-color: palegreen;
}
.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 80%;
    text-align: center;
}
.header ul li {
    border: 1px skyblue dashed;
}

/* main */
.main {
    display: flex;
    margin: 0 auto;
    text-align: center;
    height: 80%;
    background-color: rgb(192, 198, 255);
    overflow: hidden;
}
.left-menu {
    margin: 10px;
    flex-grow: 1;
    background-color:rgb(127, 144, 221);
}

.contents-wrapper {
    margin: 10px 0 0 0;
    flex-grow: 3;
    background-color: rgb(185, 218, 182);
    height: 100%;
}
.contents-wrapper .date {
    margin: 10px;
    text-align: right;
    color: olivedrab;
}
.contents-wrapper .title {
    margin: 5px 0 5px 0;
    color: navy;
}
.contents {
    display: flex;
    flex-direction: column;
    height: 70%;
    border: solid;
}

.right-menu {
    margin: 10px;
    flex-grow: 1;
    background-color:rgb(127, 144, 221);
}

/* footer */
.footer_wrapper {
    margin: 10px 0 0 0;
    display: flex;

}
.footer {
    width: 100%;
    flex-direction: row;
}
/* .footer ul {  
} */
.footer li {
    margin: 5px 0 0 0;
    list-style-type: none;
}
